body {
    background-color: azure;
    margin: 20px;
    font-family: Verdana, Geneva;
    color : blue;

}
#details{
    margin-top: 20px;
   }
#heading{
    font-size: 40px;
}
.parag {
    color: rgb(136,255,34);
}